<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>list</title>
</head>
<style>
    body{
        background: linear-gradient(to bottom right, #F6D9F5, #CAE9FD);
        height: 100vh;
    }
    .text-overflow{
        display: block;
        width: 277px;
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        line-height: 50px;
    }
    .text-overflow2{
        display: flex;
        width: 277px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        border: 1px solid;
    }
</style>
<body>
    <section class="bg-white/50 w-[900px] mx-auto mt-20 rounded-lg pt-2 pb-10">
        <div class="flex items-center justify-between py-2 px-4">
            <h3 class="text-3xl font-light">BOARD</h3>
            <a href="/write" class="bg-blue-600 px-6 rounded-lg flex items-center text-white h-[30px]">Write</a>
        </div>
        <p class="px-4">This is a crud test to demonstrate my capabilities using Spring Boot.</p>
        <table class=" w-[900px] mt-5">
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 30%;">
                <col style="width: 30%;">
                <col style="width: 20%;">
            <colgroup>
            <tbody>
                <tr class=" border rounded-lg text-gray-800 h-[40px]">
                    <th class="font-light">Post</th>
                    <th class="font-light">Title</th>
                    <th class="font-light">Content</th>
                    <th class="font-light">Manage</th>
                </tr>
                <tr class="h-[50px]" th:each="post , iterStat :${posts}">
                    <td class="text-center " th:text="${page * 5 + iterStat.index + 1}">1</td>
                    <td class="text-center text-overflow" >
                        <span th:text="${post.title}"></span>
                    </td>
                    <td class="text-center " >
                        <span class="text-overflow" th:text="${post.content}"></span>
                    </td>
                    <td class="text-center">
                        <a th:href="@{/modify(id=${post.id})}" class="border border-gray-600 rounded px-2 py-0.5">
                            Edit</a>
                        <a th:href="@{/delete(id=${post.id})}" class="border border-red-500 text-red-500 rounded px-2 py-0.5">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="flex justify-center mt-10">
            <li class="px-2 h-[30px] flex justify-center items-center">
                <a th:href="@{/list?page=0}">
                    <img class="w-[20px]" th:src="@{/images/ArrowLeft.png}">
                </a>
            </li>
            <li th:if="${page>=1}" class="px-2 h-[30px] flex justify-center items-center text-gray-500">
                <a th:href="@{/list(page=${page - 1})}" th:text="${page}"></a>
            </li>
            <li class="px-2 h-[30px] flex justify-center items-center text-gray-500 font-bold">
                <a th:href="@{/list(page=${page})}" th:text="${page + 1}">2</a>
            </li>
            <li th:if="${(totalPages - page)>=2}" class="px-2 h-[30px] flex justify-center items-center text-gray-500 ">
                <a th:href="@{/list(page=${page + 1})}" th:text="${page + 2}" ></a>
            </li>
            <li class="px-2 h-[30px] flex justify-center items-center">
                <a th:href="@{/list(page=${totalPages - 1})}">
                    <img class="w-[20px]"  th:src="@{/images/ArrowRight.png}">
                </a>
            </li>
        </ul>
    </section>
</body>
</html>